# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Database Files
*.sql.bak
*.sqlite
*.db

# CSV / Large Data Files
*.csv
*.xlsx

# MySQL Files
*.mysql

# System Files
.DS_Store
Thumbs.db

# IDE Settings
.vscode/
.idea/

# Logs
*.log